.articles {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.articles-info {
    display: flex;
    justify-content: space-between;
}
.readmore {
    display: flex;
    gap: 12px;
}
.article-items {
    display: flex;
    gap: 20px;
}
.article-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 310px;
}
.article-img {
    height: 380px;
}
.article-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}