@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(categories.css);
@import url(sale.css);
@import url(product.css);
@import url(articles.css);


:root {
    --text-color: #303030;
    --bg-color: #F8F8F8;
}

.body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px 80px 10px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

h2 {
    font-family: 'Prata', serif;
    font-size: 40px;
}

.categories,
.articles,
.sale,
.product {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sale {
    gap: 120px;
}

